/**
 * Global
 */

html, body {
    font-family: "Roboto", arial, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

::-webkit-input-placeholder { color: #fff; }
:-moz-placeholder { color: #fff; }
::-moz-placeholder { color: #fff; }
:-ms-input-placeholder { color: #fff; }

button, input, button:focus, button:active, input:focus { outline: none; }

/**
 * Bootstrap override
 */

.navbar.navbar-default {
    padding: 15px 45px;
    border: none;
    margin: 0;
    background-color: #fff;
}

.navbar-brand {
    padding: 5px 0;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

nav.sub-nav {
    width: 100%;
    padding: 15px 20px;
    background-color: #b9352a;
}

nav.sub-nav ul > li > a { color: #fff; }
nav.sub-nav ul > li > a:hover,
nav.sub-nav ul > li > a:focus,
nav.sub-nav ul > li > a:visited,
nav.sub-nav ul > li > a:active { background-color: transparent; }
nav.sub-nav ul > li > a > i { margin-left: 5px; }

.nav.navbar-search {
    padding: 10px 30px 0 10px;
}

.navbar-search label {
    display: block;
    float: left;
}

.navbar-search label i { font-size: 24px; margin-right: 10px; }

.navbar-search > div { float: left; }

.nav.navbar-search input[type="search"] {
    background-color: #000;
    border: none;
    border-radius: 30px;
    width: 250px;
    max-width: 250px;
    min-width: 100px;
    color: #fff;
    display: inline-block;
    padding: 5px 25px;
}

.navbar-search input::-webkit-input-placeholder {
    color: #fff;
}

/**
 * Grid
 */

.row-film {
    padding: 20px 0;
}

.film-container {
    width: 100%;
}

.film-wrapper {
    width: 200px;
    height: 300px;
    margin: 0 auto;
    background-image: url("/images/dummy/interstellar.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
