footer {
	background-color: #b9352a;
	color : white;
}

footer .top-footer {
	padding : 40px 0;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

footer .in-this-time {
	padding : 40px 0;
	border-bottom: 1px solid rgba(255,255,255,0.2);	
}

