@media screen and (max-width: 1200px) {
    .row.row-film { padding: 0; }
    .film { margin: 20px 0; }
    .film:first-child { margin-bottom: 20px; }
    .film:last-child { margin-top: 20px; }
}

@media screen and (max-width: 770px) {
    .toggle-burger > span { display: inline; }
    .navbar-search > div { width: 100%; }
    .navbar-brand { margin-left: 15px !important; }
    .nav.navbar-search input[type="search"] {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .navbar-brand { margin-left: 15px !important; }
    nav.sub-nav { padding: 0 0 10px 0; }

    .navbar-search > div { width: 100%; }
    .nav.navbar-search input[type="search"] {
        width: 100%;
        max-width: 100%;
    }

    .row.row-film { padding: 0; }
    .film { margin: 20px 0; }
    .film:first-child { margin-bottom: 20px; }
    .film:last-child { margin-top: 20px; }

    .film-wrapper {
        width: 200px;
        height: 300px;
    }
}

@media screen and (max-width: 400px) {
    .film-wrapper {
        width: 150px;
        height: 250px;
    }
}
